// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$backgroundColor : #fafafa;
$primary: #045f80;
$link: #1976d2;